:root {
    --solid-color: #182a2d;
    --while-color: #fff; 
    --gray-color: #adafb0;
    --light-gray-color: #cfd3d5;
    --body-color: #ebebeb;
}

body {
    font-size: 13px;
    background-color: var(--body-color);
}

header {
    background-color: var(--solid-color);
    color: var(--while-color);
    border-bottom: 1px dotted #ccc;
}

input[type="text"], select {
    font-size: 13px;
}

.logo {
    padding: 10px 0px; 
    font-size: 15px;
}

.logo a {
    color: var(--white-color);
    text-decoration: none;
}

footer {
    background: var(--gray-color);
    text-align: center;
    color: var(--solid-color);
}

main {
    padding: 10px 0px;
    min-height: 100vh;
}

hr {
    margin: 5px 0px;
}

p, h5, h4, h3, h2, h1, pre {
    margin: 0px;
}

.anchor {
    cursor: pointer;
}

.navbar {
    padding: 0px;
}

.navbar-nav .nav-item a {
    color: var(--gray-color);
    padding: 10px 0px;
}

.pull-right {
    float: right;
}

.card {
    padding: 10px;
    margin: 5px 0px;
}

.close {
    font-size: 1.2rem;
}

.btn {
    font-size: 12px !important;
}

.btn-primary {
    background-color: var(--solid-color);
    border-color: var(--solid-color);
}

.btn-secondary {
    background-color: var(--gray-color);
    border-color: var(--gray-color);
    color: var(--solid-color);
}

.displayJCSB {
    display: flex;
    justify-content: space-between;
}

.project_list .card {
    padding: 10px;
}

.project_actions {
    border-top: 1px dotted #ccc;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
}

.project_actions i {
    margin-right: 5px;
    color: var(--gray-color);
    font-size: 13px;
    cursor: pointer;
}

.card_anchor {
    color: var(--solid-color);
}

.card_anchor:hover {
    text-decoration: none;
    color: var(--solid-color);
}

.right_nav  {
    display: block;
    padding: 0px;
}

.right_nav .nav {
    display: block;
}

.right_nav a {
    padding: 5px 0px;
    border-bottom: 1px dotted var(--gray-color);
    cursor: pointer;
    font-size: 13px;
}

.right_nav a:hover {
    background-color: var(--solid-color);
    color: var(--while-color) !important;
}

.repo_list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.repo_list p b {
    color: var(--solid-color);
}

.repo_actions i {
    margin-left: 10px;
    color: var(--gray-color);
    cursor: pointer;
}

.repo_meta small {
    margin-right: 5px;
}

.repo_tags .badge {
    background-color: var(--light-gray-color);
    margin-right: 5px;
}

.search i {
    position: absolute;
    top: 12px;
    padding-left: 10px;
}

.search input {
    padding-left: 27px;
}

.line_no {
    border-right: 1px solid #ccc;
    padding-right: 2px;
    margin-right: 2px;
}

.content_viewer {
    font-size: 12px;
    line-height: 14px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs>li>a.active, .nav-tabs>li>a.active:focus, .nav-tabs>li>a.active:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

#myTab .nav-link {
    pointer-events: none;
    color: var(--solid-color);
}

.modal-header {
    background-color: var(--solid-color);
    color: var(--while-color);
}

.modal .close {
    color: #fff;
}

.noDataLabel {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: #ccc;
    /* display: block; */
    width: 100%;
}

.propRemove {
    cursor: pointer;
    margin-left: 10px;
}

#cascadeTabPanel .card {
    margin-top: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--solid-color);
}

.cascade_actions {
    border-top: 1px dotted #ccc;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.repo_title {
    display: flex;
    justify-content: space-between;
}

.metadata {
    color: var(--gray-color);
}

.metadata span {
    color: var(--solid-color);
}

#notif_alert {
    width: 370px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: none;
}