{{define "deps"}}
{{template "header" .}}
    <main class="container">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h5><b>{{.Name}}</b></h5>
                <p>Deps FilePath: {{.DepFilePath}}</p>
               
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <div>
                    <div class="displayJCSB">
                        <b>Properties</b> 
                        <span class="anchor" onclick="deps.maven.addProperty()"> 
                            <i class="fa fa-plus"></i> Add Property
                        </span>
                    </div>
                    
                    <div class="card">
                        <ul id="properties">
                            {{range $key, $value := .Properties.Entries}}
                                <li>
                                    <pre id="{{$key}}">{{$key}}:&nbsp;<input type="text" value="{{$value}}" onchange="deps.onVersionChange('property', this.value, {'name': '{{$key}}'})" /></pre>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                
                <div class="displayJCSB">
                    <b>Dependencies</b> 
                    <span class="anchor" onclick="deps.maven.addDependency()">
                        <i class="fa fa-plus"></i> Add Dependency
                    </span>
                </div>
                
                <div id="deps">
                    {{range $ln, $value := .Dependencies}}
                        <div class="card">
                            <pre><b>GroupID:</b> {{$value.GroupID}}</pre>
                            <pre><b>ArtifactID:</b> {{$value.ArtifactID}}</pre>
                            <pre><b>Version:</b> {{ if eq $value.Version nil }} <input type="text" value="" onchange="deps.onVersionChange('dependency', this.value, {'groupId': '{{$value.GroupID}}', 'artifactId': '{{$value.ArtifactID}}'} , this.value)" /> 
                                {{ else }} <input type="text" value="{{$value.Version}}" onchange="deps.onVersionChange('dependency', this.value, {'groupId': '{{$value.GroupID}}', 'artifactId': '{{$value.ArtifactID}}'} , this.value)" /> 
                                {{ end }}
                            </pre>
                        </div>
                    {{end}}
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <form id="commitForm">
                    <div class="form-group" style="margin-bottom: 0px;">
                        <input type="hidden" value="{{.RepoId}}" id="repoId"/>
                        <input type="hidden" value="{{.ProjectId}}" id="projectId"/>
                        <input type="hidden" value="{{.Branch}}" id="branch"/>
                        <input type="hidden" value="{{.SHA}}" id="sha"/>
                        <input type="text" class="form-control" name="commitMessage" id="commitMessage" placeholder="Commit Message ..."/>
                        <span id="cm_err" style="color: red;display: none;">Commit message required!</span>
                        <br />
                    </div>
                </form>
                <button class="btn btn-sm btn-primary" onclick="deps.updateChanges()">Push Changes</button>
            </div>
        </div>
    </main>
{{template "footer" .}}
{{end}}