{{define "projects"}}
{{template "header" .}}
    <main class="container">
        <div style="display: flex; justify-content: space-between;">
            <div><h5><b>Projects</b></h5></div>
            <div><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#projectModal"><i class="fa fa-add"></i> Create New Project</button></div>
        </div>
        <hr />
        <div class="row project_list">
            {{range $p := .projects}}
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <a class="card_anchor" href="/project/{{$p.id}}">
                            <p><b>{{$p.id}}. {{$p.name}}</b></p>
                            <div>{{$p.description}}</div>
                        </a>
                        <div class="project_actions">
                            <div>
                                <i onclick="editProject('{{$p.id}}')" class="fa fa-pencil"></i>
                                <i onclick="deleteProject('{{$p.id}}')" class="fa fa-trash"></i>
                            </div>
                            <small>{{$p.createdAt | FormatDate "Monday, 02 Jan 2006"}}</small>
                        </div>
                    </div>
                </div>
            {{end}}
            {{ $length := len .projects }} {{ if eq $length 0 }}
                <p class="noDataLabel">No Projects</p>
            {{ end }}
        </div>
        {{template "projectModal" .}}
    </main>
{{template "footer" .}}
{{end}}