{{define "project"}}
{{template "header" .}}
    <main class="container">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h5><b>{{.project.Name}}</b></h5>
                <p>Repositories</p>
                <input type="hidden" id="projectId" value="{{.project.Id}}" />
            </div>
            <div>
                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#repoModal"><i class="fa fa-add"></i> Add New Repository</button>
                <!-- <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#versionCascadeModal">Version Cascade</button> -->
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-9 col-sm-9 search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search Repository ... " class="form-control" />
            </div>
            <div class="col-md-3 col-sm-3" style="text-align: right;">
                
                <!-- <button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#versionCascadeModal">Version Cascade</button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-9">
                {{range .repositories}}
                    <div class="card repo_list">
                        <a class="card_anchor" href="/repository/{{.Id}}/deps?projectId={{.ProjectId}}">
                            <p><b>{{.Name}}</b></p>
                            <p>{{.Url}}</p>
                            <div class="repo_meta">
                                <small><b>Build Tool:</b> {{.BuildTool}}</small>
                                <small><b>Dep FilePath:</b> {{.DepFilePath}}</small>
                            </div>
                            <div class="repo_tags"><small class="badge">{{.Tags}}</small></div>
                        </a>
                    </div>
                {{end}}
                {{ $length := len .repositories }} {{ if eq $length 0 }}
                    <p class="noDataLabel">No Repositories</p>
                {{ end }}
            </div>
            <div class="col-md-3 col-sm-3">
                <b>Repository Cascade</b>
                <div class="card right_nav">
                    <ul class="nav">
                        <li><a data-toggle="modal" data-target="">Add New Dependencies</a></li>
                        <li><a data-toggle="modal" data-target="#versionCascadeModal">Update Versions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{template "repoModal" .}}
        {{template "versionCascadeModal" .}}
    </main>
{{template "footer" .}}
{{end}}